<div class="hots-current-hero-icon-wrapper" aria-label="{{name}} ({{type}} {{roleName}})" data-microtip-position="top" role="tooltip">
  <img class="hots-current-hero-icon" src="{{{iconUrl}}}" data-hero-id="{{id}}" data-is-ptr="{{isPtr}}" alt="{{name}} ({{type}} {{roleName}})">
</div>
{{#skills}}
<div class="hots-skill-icon-wrapper" aria-label="{{typeName}} - {{name}}" data-microtip-position="top" role="tooltip">
  <img class="hots-skill-icon" src="{{{iconUrl}}}" alt="{{typeName}} - {{name}}" data-hero-id="{{id}}" data-is-ptr="{{isPtr}}" data-skill-index="{{index}}">
</div>
{{/skills}}