<div class="hots-dialog">
  <section class="hots-dialog__section hots-dialog-options">
    <label class="hots-dialog-option">
      <input type="checkbox" id="hots-dialog-option-add-version" checked>
      <span class="hots-dialog-option__description">히오스 패치 버전 포함</span>
    </label>
  </section>
  <section class="hots-dialog__section hots-hero-filters">
    {{#filterGroups}}
    <section class="hots-hero-filter-group">
      <header class="hots-hero-filter-group__description">{{name}}: </header>
      {{#filters}}
      <label class="hero-filter" aria-label="{{name}}" data-microtip-position="top" role="tooltip">
        <input type="checkbox" data-filter-type="{{type}}" value="{{value}}">
        <img class="hero-filter__content" src="{{{iconUrl}}}" alt="{{name}}">
      </label>
      {{/filters}}
    </section>
    {{/filterGroups}}
  </section>

  <section class="hots-dialog__section hots-hero-icons">
    {{#heroes}}
    <div class="hots-hero-icon-wrapper" aria-label="{{name}} ({{type}} {{roleName}})" data-microtip-position="top" role="tooltip">
      <img class="hots-hero-icon" src="{{{iconUrl}}}" data-hero-id="{{id}}" alt="{{name}} ({{type}} {{roleName}})">
    </div>
    {{/heroes}}
  </section>
  <section class="hots-dialog__section hots-skillset"></section>
  <ul class="hots-dialog__section hots-talentset"></ul>
  <section class="hots-dialog__section hots-dialog-version">
    루리웹 히어로즈 오브 더 스톰 공략툴 v{{appVersion}}
  </section>
</div>