<div class="hots-dialog">
  <section class="hots-dialog__section hots-dialog-options">
    <label class="hots-dialog-option hots-dialog-option--checkbox">
      <input type="checkbox" id="hots-dialog-option-add-version" checked>
      <span class="hots-dialog-option__description">히오스 패치 버전 포함</span>
    </label>
    <label class="hots-dialog-option hots-dialog-option--checkbox" aria-label="PTR 서버 패치 정보를 사용합니다" data-microtip-position="top" role="tooltip">
      <input type="checkbox" id="hots-dialog-option-use-ptr">
      <span class="hots-dialog-option__description">PTR 적용</span>
    </label>
    <label class="hots-dialog-option hots-dialog-option--checkbox" data-microtip-position="top" role="tooltip"
      aria-label="영웅의 기술을 간략하게 표시하고 능력치를 생략합니다.&#xA;여러 개의 영웅 표를 넣을 때 용량을 아낄 수 있습니다.">
      <input type="checkbox" id="hots-dialog-option-simple-hero-table">
      <span class="hots-dialog-option__description">간단한 영웅 표 생성</span>
    </label>
    <div class="hots-dialog-option-group">
      <label class="hots-dialog-option">
        <span class="hots-dialog-option__description">입력할 아이콘 크기</span>
        <input type="range" min="32" max="64" step="8" id="hots-dialog-option-icon-size">
        <output class="hots-dialog-option__description" for="hots-dialog-option-icon-size"></output>
      </label>
    </div>
  </section>
  <section class="hots-dialog__section hots-hero-filters">
    {{#filterGroups}}
    <section class="hots-hero-filter-group">
      <header class="hots-hero-filter-group__description">{{name}}: </header>
      <div class="hots-hero-filter-group__icons" data-filter-type="{{type}}"></div>
    </section>
    {{/filterGroups}}
  </section>

  <section class="hots-dialog__section hots-hero-icons">
    {{#heroes}}
    <div class="hots-hero-icon-wrapper" data-microtip-position="top" role="tooltip"
      aria-label="{{name}} ({{roleName}}){{#hasPtrChanges}}&#xA;이 영웅은 PTR에서 변경되었습니다{{/hasPtrChanges}}{{#isPtr}}&#xA;이 영웅은 PTR에 추가되었습니다{{/isPtr}}">
      <img class="hots-hero-icon" src="{{{iconUrl}}}" data-hero-id="{{id}}" data-is-ptr="{{isPtr}}" alt="{{name}} ({{roleName}})">
      {{#hasPtrChanges}}<span class="hots-hero-icon-badge hots-hero-icon-badge--ptr-changes">PTR</span>{{/hasPtrChanges}}
      {{#isPtr}}        <span class="hots-hero-icon-badge hots-hero-icon-badge--new">NEW</span>        {{/isPtr}}
    </div>
    {{/heroes}}
  </section>
  <section class="hots-dialog__section hots-skillset"></section>
  <ul class="hots-dialog__section hots-talentset"></ul>
  <section class="hots-dialog__section hots-dialog-version">
    루리웹 히어로즈 오브 더 스톰 공략툴 v{{appVersion}}
  </section>
</div>