<details data-ruliweb-hots-version="{{appVersion}}" class="ruliweb-hots-skill-table">
  <summary class="ruliweb-hots-skill-table__icon-cell" style="background: url({{iconUrl}}) center/64px no-repeat" title="[클릭하여 접기/펼치기] {{typeName}} - {{name}}"></summary>
  <div class="ruliweb-hots-skill-table__content">
    <div class="ruliweb-hots-skill-table__header">
      <div class="ruliweb-hots-skill-table__title">{{name}}</div>
      <div class="ruliweb-hots-skill-table__type">{{typeName}}</div>
    </div>
    <div class="ruliweb-hots-skill-table__description">
      {{{description}}}{{> stats}}{{#hotsVersion}}
      <div class="hots-version">패치 {{hotsVersion}}</div>{{/hotsVersion}}
    </div>
  </div>
</details>