<div class="ruliweb-hots-talent-table">
  <div class="ruliweb-hots-talent-table__icon-cell">
    <img class="ruliweb-hots-talent-table__icon" src="{{{iconUrl}}}" alt="{{name}} ({{type}} - 레벨 {{level}})" title="{{name}} ({{type}} - 레벨 {{level}})"> </div>
  <div class="ruliweb-hots-talent-table__content">
    <div class="ruliweb-hots-talent-table__header">
      <div class="ruliweb-hots-talent-table__title">{{name}}</div>
      <div class="ruliweb-hots-talent-table__type">{{type}}</div>
    </div>
    <div class="ruliweb-hots-talent-table__description">
      {{{description}}}{{> stats}}{{#hotsVersion}}
      <div class="hots-version">패치 {{hotsVersion}}</div>{{/hotsVersion}}
    </div>
  </div>
</div>