<details class="ruliweb-hots-hero-skill-table">
  <summary class="ruliweb-hots-hero-skill-table__icon-cell" style="background: url({{iconUrl}}) center/48px no-repeat" title="[클릭하여 접기/펼치기] {{typeName}} - {{name}}"></summary>
  <div class="ruliweb-hots-hero-skill-table__content">
    <div class="ruliweb-hots-hero-skill-table__header">
      <div class="ruliweb-hots-hero-skill-table__title">{{name}}</div>
      <div class="ruliweb-hots-hero-skill-table__type">{{typeName}}</div>
    </div>
    <div class="ruliweb-hots-hero-skill-table__description">
      {{{description}}}{{> stats}}
    </div>
  </div>
</details>