<details class="ruliweb-hots-talent-table">
  <summary class="ruliweb-hots-talent-table__icon-cell" style="background: url({{iconUrl}}) center/48px no-repeat" title="[클릭하여 접기/펼치기] {{name}} ({{type}} - 레벨 {{level}})"></summary>
  <div class="ruliweb-hots-talent-table__content">
    <div class="ruliweb-hots-talent-table__header">
      <div class="ruliweb-hots-talent-table__title">{{name}}</div>
      <div class="ruliweb-hots-talent-table__type">{{type}}</div>
    </div>
    <div class="ruliweb-hots-talent-table__description">
      {{{description}}}{{> stats}}{{#hotsVersion}}
      <div class="hots-version">패치 {{hotsVersion}}</div>{{/hotsVersion}}
    </div>
  </div>
</details>