<details data-ruliweb-hots-version="{{appVersion}}" class="ruliweb-hots-hero-table">
  <summary class="ruliweb-hots-hero-table__icon-cell"
    style="width: {{iconSize}}px; height: {{iconSize}}px; background: url({{&iconUrl}}) center/cover no-repeat content-box"
    title="[클릭하여 접기/펼치기] {{name}} - {{roleName}}"
    ></summary>

  <section class="ruliweb-hots-hero-table__section ruliweb-hots-hero-table__header"
    style="width: calc(50em - {{iconSize}}px - 8px); max-width: calc(100% - {{iconSize}}px - 8px); min-height: calc({{iconSize}}px + 8px)">
    <div class="ruliweb-hots-hero-table__hero-name-block">
      <div class="ruliweb-hots-hero-table__hero-universe" style="background: url(http://i3.ruliweb.com/img/18/11/14/1670ecc22fe19dc2c.png) {{universeIconOffset}} 0/cover" title="{{universeName}}">{{universeName}}</div>
      <h2 class="ruliweb-hots-hero-table__hero-name">{{name}}</h2>
    </div>
    <div class="ruliweb-hots-hero-table__hero-title"><b>{{roleName}}</b></div>
  </section>

  <section class="ruliweb-hots-hero-table__section ruliweb-hots-hero-table__skills">
    {{#skillGroups}}
    <div class="ruliweb-hots-hero-table__skill-group">
      <h3 class="ruliweb-hots-hero-table__skill-group-title">{{title}}</h3>
      <div class="ruliweb-hots-hero-table__skill-group-skills">
        {{#skills}}{{> skill}}{{/skills}}
      </div>
    </div>
    {{/skillGroups}}
  </section>

  {{^isSimpleHeroTable}}
  <section class="ruliweb-hots-hero-table__section ruliweb-hots-hero-table__stats">
    {{#units}}
    <table class="ruliweb-hots-hero-stat-table">
      <thead>
        {{#unitName}}
        <tr>
          <th class="ruliweb-hots-hero-stat-table__unit-name" colspan="3">{{unitName}}</th>
        </tr>
        {{/unitName}}
        <tr>
          <th>능력치</th>
          <th>1레벨 (성장률)</th>
          <th>20레벨</th>
        </tr>
      </thead>
      <tbody>
        {{#stats}}
        <tr>
          <td style="background: url({{&iconUrl}}) .4em/1.3em no-repeat">{{name}}{{#altName}} ({{altName}}){{/altName}}</td>
          {{^level1}}<td colspan="2">{{value}}</td>{{/level1}}
          {{#percentScaling}}<td>{{level1}} (+{{percentScaling}}%)</td>{{/percentScaling}}
          {{#levelAdd}}<td>{{level1}} (+{{levelAdd}})</td>{{/levelAdd}}
          {{#level20}}<td>{{level20}}</td>{{/level20}}
        </tr>
        {{/stats}}
      </tbody>
    </table>
    {{/units}}
  </section>
  {{/isSimpleHeroTable}}

  {{#hotsVersion}}<footer class="hots-version hots-version--right-pad"><i>패치 {{hotsVersion}}</i></footer>{{/hotsVersion}}
</details>