{{#hasStats}}<br>
{{#manaCost}}
<br><span class="skill-stat-entry skill-stat-entry--mana-cost"><b>마나</b> {{manaCost}}</span>
{{/manaCost}}
{{#lifeCost}}
<br><span class="skill-stat-entry skill-stat-entry--life-cost"><b>생명력</b> {{lifeCost}}</span>
{{/lifeCost}}
{{#energyCost}}
<br><span class="skill-stat-entry skill-stat-entry--energy-cost"><b>{{energyCostName}}</b> {{energyCost}}</span>
{{/energyCost}}
{{#cooldown}}
<br><span class="skill-stat-entry skill-stat-entry--cooldown"><b>재사용 대기시간</b> {{cooldown}}초</span>
{{/cooldown}}
{{#rechargeCooldown}}
<br><span class="skill-stat-entry skill-stat-entry--cooldown"><b>충전 대기시간</b> {{rechargeCooldown}}초</span>
{{/rechargeCooldown}}
{{#extras.length}}
<br><span class="skill-stat-entry skill-stat-entry--extras">{{#extras}}<b>{{name}}</b> {{value}} {{/extras}}</span>
{{/extras.length}}
{{/hasStats}}