<table data-ruliweb-hots-version="{{appVersion}}" style="border: 2px solid #76d; background-color: #112; color: #efe; font-family: sans-serif">
  <tr style="background-color: #224">
    <td rowspan="2" style="padding: .5em; border: 1px solid #76d; WIDTH: 64px; vertical-align: top; background-color: #118">
      <img style="WIDTH: 100%" src="{{{hero.iconUrl}}}" alt="{{hero.name}} ({{hero.type}})" title="{{hero.name}} ({{hero.type}})">
    </td>
    <td style="padding: .5em; border: 1px solid #76d; text-align: center">
      <b style="color: #6ce">{{hero.name}}</b>
    </td>
    <td style="padding: .5em; border: 1px solid #76d; text-align: center; WIDTH: 10em">
      <b style="color: #6ce">{{hero.type}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding: .5em; border: 1px solid #76d">
      {{#hero.skills}}
      <img style="WIDTH: 48px; margin: 0 .25em" src="{{{iconUrl}}}" alt="{{type}} - {{name}}" title="{{type}} - {{name}}">
      {{/hero.skills}}
      {{#hotsVersion}}<div style="text-align: right; font-size: .8em; font-style: italic; color: #cca">패치 {{hotsVersion}}</div>{{/hotsVersion}}
    </td>
  </tr>
</table>