<details class="ruliweb-hots-skill-table">
  <summary class="ruliweb-hots-skill-table__icon-cell">
    <img class="ruliweb-hots-skill-table__icon" src="{{{iconUrl}}}" alt="{{type}} - {{name}}" title="{{type}} - {{name}}">
  </summary>
  <div class="ruliweb-hots-skill-table__content">
    <div class="ruliweb-hots-skill-table__header">
      <div class="ruliweb-hots-skill-table__title">{{name}}</div>
      <div class="ruliweb-hots-skill-table__type">{{type}}</div>
    </div>
    <div class="ruliweb-hots-skill-table__description">
      {{{description}}}{{> stats}}{{#hotsVersion}}
      <div class="hots-version">패치 {{hotsVersion}}</div>{{/hotsVersion}}
    </div>
  </div>
</details>