/* This file is injected into Ruliweb's "create/edit article" pages, as well as
 * any <iframe>s on such pages.
 */

.ruliweb-hots-table:hover
{
  position: relative;
}

.ruliweb-hots-table:hover > :first-child::before
{
  position: absolute;
  content: "Ctrl+클릭하여 삭제";
  border: 1px solid #f00;
  background: #800;
  color: #ddd;
  font-size: 90%;
  padding: .5em;
  white-space: nowrap;
}