/* Dialog (tingle.js) */

.hots-dialog-container .tingle-modal-box {
  max-width: 515px;
  background-color: #112;
  border-radius: 10px;
  color: #ccc;
  font-family: "맑은 고딕", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.hots-dialog-container .tingle-modal-box__content {
  padding: 1rem;
}

/* Icon Buttons: Represents interactive icon buttons with tooltips. */

/* Root element, currently used for hover tooltips */
.hots-icon-button {
  border: 1px solid #111;
  height: 32px;
  width: 32px;
}

/* The interactive image element */
.hots-icon-button__icon {
  cursor: pointer;
  height: 100%;
  object-fit: cover;
  transition: box-shadow 0.25s, filter 0.25s;
  width: 100%;
}

.hots-icon-button__icon:active {
  box-shadow: 0 0 3px 3px #ff5;
  filter: brightness(300%);
  transition: none;
}

/* All dialog sections */

.hots-dialog__section {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  clear: both;
}

.hots-dialog__section:first-child {
  margin-top: 0;
}

.hots-dialog__section:empty {
  display: none;
}

/* App version section */

.hots-dialog-version {
  text-align: right;
  font-size: 70%;
  color: #789;
}

/* Dialog options */

.hots-dialog-options {
  font-size: 0.75em;
}

.hots-dialog-option {
  padding: 0 0.5em 0;
  color: #aaa;
}

.hots-dialog-option--checkbox {
  border-radius: 3px;
  cursor: pointer;
}

.hots-dialog-option--checkbox:hover {
  background-color: #334;
}

.hots-dialog-option input[type="checkbox"] {
  vertical-align: middle;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  margin-top: -0.2em;
  cursor: pointer;
}

.hots-dialog-option
  input[type="checkbox"]:checked
  + .hots-dialog-option__description {
  color: #eee;
}

.hots-dialog-option__description {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.hots-dialog-option-group {
  margin: 0.5em 0;
}

.hots-dialog-option input[type="range"] {
  height: 1em;
}

/* Hero filters */

.hots-hero-filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -0.5em;
}

.hots-hero-filter-group {
  display: flex;
  margin: 0 1em 0.5em 0;
}

.hots-hero-filter-group__description {
  padding-right: 1em;
}

/* Hero icons section */

.hots-hero-icons {
  display: flex;
  flex-wrap: wrap;
}

.hots-hero-icon {
  margin: 0;
}

.hots-hero-icon--excluded {
  opacity: 0.2;
}

.hots-hero-icon-badge {
  position: absolute;
  top: 1px;
  left: 1px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; /* Extra-bold fonts */
  font-size: 70%;
  text-shadow: #fff 0 0 1px;
  pointer-events: none;
}

.hots-hero-icon-badge--ptr-changes {
  color: #04f;
  content: "PTR";
}

.hots-hero-icon-badge--new {
  color: #f00;
  content: "NEW";
}

/* Skillset section */

.hots-skillset {
  display: flex;
  padding: 3px;
  background-color: #213;
  border: 1px solid #55d;
  border-bottom: none;
}

/* Talentset section */

.hots-talentset {
  list-style: none; /* Reset user agent style (<li>) */
  margin: 0; /* Reset user agent style (<li>) */
  padding: 0; /* Reset user agent style (<li>) */
  background-color: #113;
  border: 1px solid #55d;
}

.hots-talentset__group {
  display: flex;
  align-items: center;
  padding: 3px;
  border-top: 1px solid #55d;
}

.hots-talentset__group:first-child {
  border-top: none;
}

.hots-talentset__group-title {
  min-width: 4em;
  padding-right: 0.5em;
  text-align: right;
}

.hots-talentset__group-buttonset {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5em;
}

.hots-talentset__group-add-all {
  padding: 0.25em;
  cursor: pointer;
  font-size: 0.75em;
  border: 1px solid #27f;
  background: #336;
  color: #ccc;
  transition: border 0.25s, background-color 0.25s, color 0.25s;
}

.hots-talentset__group-add-all:active {
  transition: none;
  border: 1px solid #5df;
  background: #77c;
  color: #fff;
}

.hots-dialog [role~="tooltip"]::after {
  white-space: pre;
}

/* MultiSelectIcons */
.multi-select-icons {
  display: flex;
  padding: 1px;
}

.multi-select-icons__option {
  display: flex;
}

.multi-select-icons__option:not(:first-child) {
  margin-left: 5px;
}

.multi-select-icons__option-icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  cursor: pointer;
}

.multi-select-icons__option input[type="checkbox"] {
  display: none;
}

.multi-select-icons__option
  input[type="checkbox"]:checked
  + .multi-select-icons__option-icon {
  opacity: 1;
}
