/* Dialog (tingle.js) */

.hots-dialog-container .tingle-modal-box {
  max-width: 465px;
  background-color: #112;
  border-radius: 10px;
  color: #ccc;
  font-family: "맑은 고딕", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.hots-dialog-container .tingle-modal-box__content {
  padding: 1rem;
}

/* Icons */

.hots-hero-icon-wrapper, .hots-current-hero-icon-wrapper, .hots-skill-icon-wrapper, .hots-talent-icon-wrapper {
  /* Wrap to size of content <img> */
  display: inline-flex;
}


.hots-hero-icon, .hots-current-hero-icon, .hots-skill-icon, .hots-talent-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border: 1px solid #333;
  cursor: pointer;
  transition: border .25s, filter .25s;
}

.hots-hero-icon:active, .hots-current-hero-icon:active, .hots-skill-icon:active, .hots-talent-icon:active {
  transition: none;
  border: 1px solid #ff5;
  filter: brightness(300%);
}

/* All dialog sections */

.hots-dialog__section {
  margin: 0;
  padding: 0;
  margin-top: .5em;
  clear: both;
}

.hots-dialog__section:first-child {
  margin-top: 0;
}

.hots-dialog__section:empty {
  display: none;
}

/* App version section */

.hots-dialog-version {
  text-align: right;
  font-size: 70%;
  color: #789
}

/* Dialog options */

.hots-dialog-options {
  font-size: .75em;
}

.hots-dialog-option {
  padding: 0 .5em 0;
  border-radius: 3px;
  cursor: pointer;
  color: #aaa;
}

.hots-dialog-option:hover {
  background-color: #334;
}

.hots-dialog-option input[type=checkbox] {
  vertical-align: middle;
  width: 1em; height: 1em;
  margin: 0; padding: 0;
  margin-top: -0.2em;
  cursor: pointer;
}

.hots-dialog-option input[type=checkbox]:checked+.hots-dialog-option__description {
  color: #eee;
}

/* Hero filters */

.hots-hero-filter-group {
  border: 0;  /* Reset user agent style (<fieldset>) */
  margin: 0;  /* Reset user agent style (<fieldset>) */
  padding: 0; /* Reset user agent style (<fieldset>) */
  margin-right: 1em;
  float: left;
}

.hots-hero-filter-group__description {
  padding: 0; /* Reset user agent style (<legend>) */
  padding-right: 1em;
  float: left;
}

.hero-filter {
  float: left;
  padding: 1px;
  margin-right: 5px;
}

.hero-filter__content {
  display: block;
  width: 20px;
  height: 20px;
  opacity: .3;
  cursor: pointer;
}

.hero-filter input[type=checkbox]:checked+.hero-filter__content {
  opacity: 1;
}

.hero-filter input[type=checkbox] {
  display: none;
}

/* Hero icons section */

.hots-hero-icons {
  display: flex;
  flex-wrap: wrap;
}

.hots-hero-icon-wrapper {
  margin: 2px;
}

.hots-hero-icon {
  margin: 0;
}

.hots-hero-icon--excluded {
  opacity: .2;
}

/* Skillset section */

.hots-skillset {
  padding: 3px 3px 0;
  background-color: #213;
  border: 1px solid #55d;
  border-bottom: none;
}

/* Talentset section */

.hots-talentset {
  list-style: none; /* Reset user agent style (<li>) */
  margin: 0;        /* Reset user agent style (<li>) */
  padding: 0;       /* Reset user agent style (<li>) */
  background-color: #113;
  border: 1px solid #55d;
}

.hots-talentset__group {
  padding-top: 3px;
  border-top: 1px solid #55d;
}

.hots-talentset__group:first-child {
  border-top: none;
}

.hots-talentset__group-title {
  display: inline-block;
  width: 4em;
  position: relative;
  top: -0.4em;
  padding-left: .5em;
}

.hots-talentset__group-add-all {
  float: right;
  margin: .35em 1em 0 0;
  padding: .25em;
  cursor: pointer;
  font-size: .75em;
  border: 1px solid #27f;
  background: #336;
  color: #ccc;
  transition: border .25s, background-color .25s, color .25s;
}

.hots-talentset__group-add-all:active {
  transition: none;
  border: 1px solid #5df;
  background: #77c;
  color: #fff;
}

.hots-dialog [role~="tooltip"]::after {
  white-space: pre;
}