{{#talents}}
<li class="hots-talentset__group"><span class="hots-talentset__group-title">{{talentLevel}}레벨</span>
  {{#talentGroup}}
  <img class="hots-talent-icon" src="{{{iconUrl}}}" alt="{{name}} ({{type}} - 레벨 {{talentLevel}})" title="{{name}} ({{type}} - 레벨 {{talentLevel}})" data-hero-id="{{id}}" data-talent-level="{{talentLevel}}" data-talent-index="{{index}}">
  {{/talentGroup}}
</li>
{{/talents}}