<div class="hots-dialog">
  <section class="hots-dialog__section hots-hero-filters">
    {{#filterGroups}}
    <fieldset class="hots-hero-filter-group">
      <legend class="hots-hero-filter-group__description">{{name}}: </legend>
      {{#filters}}
      <label class="hero-filter">
        <input type="checkbox" data-filter-type="{{type}}" value="{{value}}">
        <img class="hero-filter__content" src="{{{iconUrl}}}" alt="{{name}}" title="{{name}}">
      </label>
      {{/filters}}
    </fieldset>
    {{/filterGroups}}
  </section>

  <section class="hots-dialog__section hots-hero-icons">
    {{#heroes}}
    <img class="hots-hero-icon" src="{{{iconUrl}}}" data-hero-id="{{id}}" alt="{{name}} ({{type}} {{roleName}})" title="{{name}} ({{type}} {{roleName}})">
    {{/heroes}}
  </section>
  <section class="hots-dialog__section hots-skillset"></section>
  <ul class="hots-dialog__section hots-talentset"></ul>
</div>