{{#talents}}
<li class="hots_dialog__talent-group"><span class="hots_dialog__talent-group-description">{{talentLevel}}레벨</span>
  {{#talentGroup}}
  <img class="hots_dialog__talent-icon" src="{{{iconUrl}}}" alt="{{name}} ({{type}} - 레벨 {{talentLevel}})" title="{{name}} ({{type}} - 레벨 {{talentLevel}})" data-hero-id="{{id}}" data-talent-level="{{talentLevel}}" data-talent-index="{{index}}">
  {{/talentGroup}}
</li>
{{/talents}}