{{#heroes}}
<img class="hots_dialog__hero-icon" src="{{{iconUrl}}}" data-hero-id="{{id}}" alt="{{name}} ({{type}})" title="{{name}} ({{type}})">
{{/heroes}}
{{^heroes}}선택한 분류에 해당하는 영웅이 없습니다.{{/heroes}}