<div style="display: flex; border: 2px solid #55d; border-right-WIDTH: 1px; max-WIDTH: 60em; box-sizing: border-box; font-family: sans-serif">
  <div style="border-right: 1px solid #55d; WIDTH: 48px; padding: .5em; background-color: #118">
    <img style="WIDTH: 100%" src="{{{iconUrl}}}" alt="{{name}} ({{type}} - 레벨 {{level}})" title="{{name}} ({{type}} - 레벨 {{level}})">
  </div>
  <div style="flex: 1; display: flex; flex-flow: column">
    <div style="display: flex; flex-wrap: wrap; background-color: #003; text-align: center; color: #6ce">
      <b style="flex: 2 18em; border: solid #55d; border-WIDTH: 0 1px 1px 0; padding: .5em">{{name}}</b>
      <b style="flex: 1 9em; border: solid #55d; border-WIDTH: 0 1px 1px 0; padding: .5em">{{type}} - 레벨 {{level}}</b>
    </div>
    <div style="flex: 1; border-right: 1px solid #55d; padding: .5em; background-color: #113; color: #efe">
      {{{description}}}{{#hotsVersion}}
      <i style="display: block; text-align: right; font-size: .8em; color: #cca">패치 {{hotsVersion}}</i>{{/hotsVersion}}
    </div>
  </div>
</div>