<div style="display: flex; border: 2px solid #8955dd; border-right-WIDTH: 1px; max-WIDTH: 60em; box-sizing: border-box; font-family: sans-serif">
  <div style="border-right: 1px solid #8955dd; WIDTH: 64px; padding: .5em; background-color: #411980">
    <img style="WIDTH: 100%" src="{{{iconUrl}}}" alt="{{type}} - {{name}}" title="{{type}} - {{name}}">
  </div>
  <div style="flex: 1; display: flex; flex-flow: column">
    <div style="display: flex; flex-wrap: wrap; background-color: #170723; text-align: center; color: #eebbff">
      <b style="flex: 3 18em; border: solid #8955dd; border-WIDTH: 0 1px 1px 0; padding: .5em">{{name}}</b>
      <b style="flex: 1 6em; border: solid #8955dd; border-WIDTH: 0 1px 1px 0; padding: .5em">{{type}}</b>
    </div>
    <div style="flex: 1; border-right: 1px solid #8955dd; padding: .5em; background-color: #1a0a33; color: #f2fee7">
      {{{description}}}
      {{> stats}}
      {{#hotsVersion}}<i style="display: block; text-align: right; font-size: .8em; color: #ccccaa">패치 {{hotsVersion}}</i>{{/hotsVersion}}
    </div>
  </div>
</div>