<table style="border: 2px solid #726bd6; background-color: #0d0b29; color: #e8fee7;">
  <tr style="background-color: #1e1a4c">
    <td rowspan="2" style="padding: .5em; border: 1px solid #726bd6; width: 64px; vertical-align: top; background-color: #181881;">
      <img style="width: 100%" src="{{{hero.iconUrl}}}" alt="{{hero.name}} ({{hero.type}})" title="{{hero.name}} ({{hero.type}})">
    </td>
    <td style="padding: .5em; border: 1px solid #726bd6; text-align: center;">
      <b style="color: #66ccec">{{hero.name}}</b>
    </td>
    <td style="padding: .5em; border: 1px solid #726bd6; text-align: center; width: 10em;">
      <b style="color: #66ccec">{{hero.type}}</b>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding: .5em; border: 1px solid #726bd6;">
      {{#hero.skills}}
      <img style="width: 48px; margin: 0 .25em" src="{{{iconUrl}}}" alt="{{type}} - {{name}}" title="{{type}} - {{name}}">
      {{/hero.skills}}
    </td>
  </tr>
  {{#hotsVersion}}
  <tr>
    <td colspan="3" style="padding: .25em .5em; border: 1px solid #726bd6; text-align: right;">
      <i>패치 {{hotsVersion}}</i>
    </td>
  </tr>
  {{/hotsVersion}}
</table>