# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# End of https://www.gitignore.io/api/visualstudiocode

# Node.js dependency directories
node_modules/

# Custom temp dir
temp/*
# Build dir
build/*