/******** Hero, skill & talent tables ********/

.ruliweb-hots-hero-table, .ruliweb-hots-hero-skill-table, .ruliweb-hots-skill-table, .ruliweb-hots-talent-table {
  display: inline-block;
  max-width: 100%;
  /* Contain within bounds */
  box-sizing: border-box;
  font-family: sans-serif;
}

.ruliweb-hots-hero-table__icon-cell, .ruliweb-hots-skill-table__icon-cell {
  float: left;
}

.ruliweb-hots-hero-table__icon, .ruliweb-hots-skill-table__icon {
  width: 100%;
}

.ruliweb-hots-hero-table__header, .ruliweb-hots-skill-table__content {
  float: left;
  width: 50em;
  max-width: calc(100% - 64px - 8px);
}

/******** Hero table ********/

.ruliweb-hots-hero-table {
  border: 2px solid #426;
  border-image: linear-gradient(#135, #426) 1;
  /* Fake equal height columns */
  background: #101;
  /* Color of collapse/expand arrow */
  color: #ffd;
  line-height: normal;
  /* Override Ruliweb's (MYPI) stylesheet */
}

.ruliweb-hots-hero-table__icon-cell {
  width: 64px;
  height: 64px;
  padding: 4px;
  /* background: center/cover no-repeat content-box; */
  /* Should be entered directly in template */
}

/******** Hero table: All sections ********/

.ruliweb-hots-hero-table__section {
  background: linear-gradient(#214, #102);
}

.ruliweb-hots-hero-table__section:nth-child(3) {
  clear: both;
}

.ruliweb-hots-hero-table__section:nth-child(n+3) {
  box-sizing: border-box;
  width: 50em;
  max-width: 100%;
  border-top: 1px solid #426;
}

/******** Hero table: Title section ********/

.ruliweb-hots-hero-table__header {
  width: calc(50em - 64px - 8px);
  min-height: calc(64px + 8px);
  box-sizing: border-box;
  padding: 1em;
}

.ruliweb-hots-hero-table__hero-name-block {
  display: flex;
}

.ruliweb-hots-hero-table__hero-universe {
  flex: none;
  align-self: center;
  margin-right: .5em;
  width: 2em;
  height: 2em;
  /* Hide default text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.ruliweb-hots-hero-table__hero-name {
  font-size: 1.5em;
  text-shadow: 0 0 1em #09f;
  margin: 0;
  /* Override <h2> user agent style */
}

.ruliweb-hots-hero-table__hero-title {
  font-size: 1.2em;
  color: #6cf;
}

/******** Hero table: Skill section ********/

.ruliweb-hots-hero-table__skills {
  padding: .5em;
}

.ruliweb-hots-hero-table__skill-group {
  display: flex;
}

.ruliweb-hots-hero-table__skill-group-title {
  margin: 0;
  /* Override <h3> user agent style */
  flex: 0 2 5em;
  align-self: center;
  display: block;
  min-width: 3em;
  font-size: 1.2em;
  text-shadow: 0 0 1em #09f;
  text-align: center;
}

.ruliweb-hots-hero-table__skill-group-skills {
  flex: 1 30em;
  width: 5em;
  /* Use a small width value to force child skill tables to shrink to hero table size */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 5px 5px 0 0;
  overflow: auto;
}

/******** Hero table: Stat section ********/

.ruliweb-hots-hero-table__stats {
  padding: .5em 0 0 .5em;
}

/******** Hero table: Hero stat table ********/

.ruliweb-hots-hero-stat-table {
  display: inline-table;
  margin: 0 .5em .5em 0;
  border: 2px solid #76d;
  border-collapse: collapse;
  background: #112;
  text-align: center;
}

.ruliweb-hots-hero-stat-table thead {
  background: #224;
}

.ruliweb-hots-hero-stat-table tbody td:first-child {
  text-align: initial;
}

.ruliweb-hots-hero-stat-table th, .ruliweb-hots-hero-stat-table td {
  border: 1px solid #76d;
  padding: .4em;
}

.ruliweb-hots-hero-stat-table th {
  /* Apply directly on <th> to override Ruliweb's (MYPI) stylesheet */
  color: #6ce;
  font: bold 1em sans-serif;
}

.ruliweb-hots-hero-stat-table .ruliweb-hots-hero-stat-table__unit-name {
  color: #ffd;
  text-shadow: 0 0 1em #09f;
}

.ruliweb-hots-hero-stat-table td {
  /* Apply directly on <td> to override Ruliweb's (MYPI) stylesheet */
  color: #efe;
  font: 1em sans-serif;
}

.ruliweb-hots-hero-stat-table td:first-child {
  padding: .4em .4em .4em 2em;
}

.ruliweb-hots-hero-stat-table__stat-icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: sub;
}

/******** Skill/Talent table ********/

.ruliweb-hots-skill-table, .ruliweb-hots-hero-skill-table, .ruliweb-hots-talent-table {
  border: 2px solid #85d;
  padding: 4px;
  background: linear-gradient(#214, #102);
  color: #6cf;  /* Color of skill name and collapse/expand arrow */
}

.ruliweb-hots-hero-skill-table {
  margin: 0 0 5px 5px;
  border-image: linear-gradient(#8df, #ccd) 1;
}

.ruliweb-hots-talent-table {
  border: 2px solid #55d;
  background: linear-gradient(#118, #003);
  color: #bef;  /* Color of talent name and collapse/expand arrow */
}

.ruliweb-hots-skill-table__icon-cell {
  width: 64px;
  height: 64px;
  /* Should be entered directly in template */
  /* background: url({{&iconUrl}}) center/cover; */
}

.ruliweb-hots-skill-table__icon-cell--small-icon {
  width: 48px;
  height: 48px;
}

.ruliweb-hots-skill-table__content {
  padding-left: 8px;
}

.ruliweb-hots-skill-table__content--small-icon {
  max-width: calc(100% - 48px - 8px);
}

.ruliweb-hots-skill-table__header {
  display: flex;
  flex-wrap: wrap;
}

.ruliweb-hots-skill-table__title-box {
  flex: 3 15em;
}

.ruliweb-hots-skill-table__title {
  font-size: 1.1em;
}

.ruliweb-hots-skill-table__type {
  flex: 1 5em;
  text-align: right;
}

.ruliweb-hots-skill-table__title-box, .ruliweb-hots-skill-table__type {
  padding-bottom: .5em;
}

.ruliweb-hots-skill-table__description {
  color: #bcc;
}

/******** Stat sections in skill/talent tables ********/

.skill-stat-entry {
  padding-left: 1.5em;
}

.skill-stat-entry--mana-cost {
  color: #4be;
  background: url(http://i1.ruliweb.com/img/18/07/07/164741ab46719dc2c.png) .15em/1em no-repeat;
}

.skill-stat-entry--life-cost {
  color: #5d2;
  background: url(http://i1.ruliweb.com/img/18/07/07/164741ab38d19dc2c.png) .15em/1em no-repeat;
}

.skill-stat-entry--energy-cost {
  color: #ee3;
  background: url(http://i1.ruliweb.com/img/18/07/07/164741ab5f219dc2c.png) .15em/1em no-repeat;
}

.skill-stat-entry--cooldown {
  color: #ddd;
  background: url(http://i2.ruliweb.com/img/18/07/23/164c2a1709319dc2c.png) 0/1.3em no-repeat;
}

.skill-stat-entry--extras {
  color: #d90;
  background: url(http://i3.ruliweb.com/img/18/07/07/164748d2b0519dc2c.png) 0/1.3em no-repeat;
}

/******** Heroes of the Storm Patch Version Section ********/

.hots-version {
  text-align: right;
  font-size: .8em;
  color: #cca;
}

.hots-version--right-pad {
  padding-right: 1em;
}

/******** Skill/Talent Type Labels ********/

.ruliweb-hots-skill-type-label {
  display: inline-block;
  border: .1em solid #87d;
  border-radius: .3em;
  padding: .2em .4em;
  white-space: nowrap;
  color: #87d;
}

.ruliweb-hots-skill-type-label--heroic {
  border: .1em solid #da7;
  color: #da7;
}

.ruliweb-hots-skill-type-label--passive {
  border: .1em solid #6ba;
  color: #6ba;
}

.ruliweb-hots-skill-type-label--active {
  border: .1em solid #d7a;
  color: #d7a;
}

.ruliweb-hots-skill-type-label__upgrade-arrow {
  height: 1.5em;
  /* Set margin-top to an arbitrary large negative value to ensure that the
   * image does not cause the parent box to to grow in height. */
  margin: -1em -.2em 0 -.7em;
  vertical-align: bottom;
}