/******** Table-wrapping buttons ********/

/* Reset button styles
   See https://github.com/pastelmind/ruliweb-hots/issues/20 on why this wrapper is needed
 */

button.ruliweb-hots-table {
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: auto;
}

/******** Hero, skill & talent tables ********/

.ruliweb-hots-hero-table, .ruliweb-hots-skill-table, .ruliweb-hots-talent-table {
  display: inline-block;
  max-width: 100%;
  /* Contain within bounds */
  box-sizing: border-box;
  font-family: sans-serif;
}

.ruliweb-hots-hero-table__icon-cell, .ruliweb-hots-skill-table__icon-cell, .ruliweb-hots-talent-table__icon-cell {
  float: left;
  padding: .5em;
}

.ruliweb-hots-hero-table__icon, .ruliweb-hots-skill-table__icon, .ruliweb-hots-talent-table__icon {
  width: 100%;
}

.ruliweb-hots-hero-table__content, .ruliweb-hots-skill-table__content, .ruliweb-hots-talent-table__content {
  float: left;
  display: flex;
  flex-flow: column;
  width: 50em;
  max-width: calc(100% - 64px - 1em);
  min-height: calc(64px + 1em);
}

.ruliweb-hots-hero-table__header, .ruliweb-hots-skill-table__header, .ruliweb-hots-talent-table__header {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  text-align: center;
}

.ruliweb-hots-hero-table__title, .ruliweb-hots-hero-table__type, .ruliweb-hots-skill-table__title, .ruliweb-hots-skill-table__type, .ruliweb-hots-talent-table__title, .ruliweb-hots-talent-table__type {
  padding: .5em;
}

.ruliweb-hots-hero-table__description, .ruliweb-hots-skill-table__description, .ruliweb-hots-talent-table__description {
  flex: 1;
  padding: .5em;
  text-align: left;
  color: #efe;
}

/******** Hero table ********/

.ruliweb-hots-hero-table {
  border: 2px solid #47a;
  background: #135;
  /* Fake equal height columns */
  color: #ffd;
  /* Color of collapse/expand arrow */
}

.ruliweb-hots-hero-table__icon-cell {
  width: 64px;
  height: 64px;
  /* background: center/cover no-repeat content-box; */
  /* Should be entered directly in template */
}

.ruliweb-hots-hero-table__header {
  background: #011;
  color: #add;
}

.ruliweb-hots-hero-table__title {
  flex: 2 14em;
}

.ruliweb-hots-hero-table__type {
  flex: 1 7em;
}

.ruliweb-hots-hero-table__title, .ruliweb-hots-hero-table__type {
  border: solid #47a;
  border-width: 0 0 1px 1px;
}

.ruliweb-hots-hero-table__description {
  border-left: 1px solid #47a;
  background: #134;
}

/******** Stat sections in hero tables ********/

.ruliweb-hots-hero-table__stats {
  width: 50em;
  max-width: 100%;
  box-sizing: border-box;
  clear: both;
  border-top: 1px solid #47a;
  padding: .5em 0 0 .5em;
  background-color: #244;
}

.ruliweb-hots-hero-stat-table {
  display: inline-table;
  margin: 0 .5em .5em 0;
  border: 2px solid #76d;
  border-collapse: collapse;
  background: #112;
  text-align: center;
}

.ruliweb-hots-hero-stat-table thead {
  background: #224;
}

.ruliweb-hots-hero-stat-table tbody td:first-child {
  text-align: initial;
}

.ruliweb-hots-hero-stat-table th, .ruliweb-hots-hero-stat-table td {
  border: 1px solid #76d;
  padding: .4em;
}

.ruliweb-hots-hero-stat-table th {
  /* Apply directly on <th> to override Ruliweb's (MYPI) stylesheet */
  color: #6ce;
  font: bold 1em sans-serif;
}

.ruliweb-hots-hero-stat-table td {
  /* Apply directly on <td> to override Ruliweb's (MYPI) stylesheet */
  color: #efe;
  font: 1em sans-serif;
}

.ruliweb-hots-hero-stat-table td:first-child {
  padding: .4em .4em .4em 2em;
}

.ruliweb-hots-hero-stat-table__stat-icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: sub;
}

/******** Skill table ********/

.ruliweb-hots-skill-table {
  border: 2px solid #85d;
  background: #418;
  /* Fake equal height columns */
  color: #fdf;
  /* Color of collapse/expand arrow */
}

.ruliweb-hots-skill-table__icon-cell {
  width: 64px;
  height: 64px;
  /* background: center/cover no-repeat content-box; */
  /* Should be entered directly in template */
}

.ruliweb-hots-skill-table__header {
  background: #103;
  color: #fbf;
}

.ruliweb-hots-skill-table__title {
  flex: 3 15em;
}

.ruliweb-hots-skill-table__type {
  flex: 1 6em;
}

.ruliweb-hots-skill-table__title, .ruliweb-hots-skill-table__type {
  border: solid #85d;
  border-width: 0 0 1px 1px;
}

.ruliweb-hots-skill-table__description {
  border-left: 1px solid #85d;
  background: #214;
}

/******** Talent table ********/

.ruliweb-hots-talent-table {
  border: 2px solid #55d;
  background: #118;
  /* Fake equal height columns */
  color: #bef;
  /* Color of collapse/expand arrow */
}

.ruliweb-hots-talent-table__icon-cell {
  width: 48px;
  height: 48px;
  /* background: center/cover no-repeat content-box; */
  /* Should be entered directly in template */
}

.ruliweb-hots-talent-table__content {
  max-width: calc(100% - 48px - 1em);
}

.ruliweb-hots-talent-table__header {
  background: #003;
  color: #6ce;
}

.ruliweb-hots-talent-table__title {
  flex: 2 14em;
}

.ruliweb-hots-talent-table__type {
  flex: 1 7em;
}

.ruliweb-hots-talent-table__title, .ruliweb-hots-talent-table__type {
  border: solid #55d;
  border-width: 0 0 1px 1px;
}

.ruliweb-hots-talent-table__description {
  border-left: 1px solid #55d;
  background: #114;
}

/******** Stat sections in skill/talent tables ********/

.skill-stat-entry {
  padding-left: 1.5em;
}

.skill-stat-entry--mana-cost {
  color: #4be;
  background: url(http://i1.ruliweb.com/img/18/07/07/164741ab46719dc2c.png) .15em/1em no-repeat;
}

.skill-stat-entry--life-cost {
  color: #5d2;
  background: url(http://i1.ruliweb.com/img/18/07/07/164741ab38d19dc2c.png) .15em/1em no-repeat;
}

.skill-stat-entry--energy-cost {
  color: #ee3;
  background: url(http://i1.ruliweb.com/img/18/07/07/164741ab5f219dc2c.png) .15em/1em no-repeat;
}

.skill-stat-entry--cooldown {
  color: #ddd;
  background: url(http://i2.ruliweb.com/img/18/07/23/164c2a1709319dc2c.png) 0/1.3em no-repeat;
}

.skill-stat-entry--extras {
  color: #d90;
  background: url(http://i3.ruliweb.com/img/18/07/07/164748d2b0519dc2c.png) 0/1.3em no-repeat;
}

.hots-version {
  text-align: right;
  font-size: .8em;
  color: #cca;
  font-style: italic
}